@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap');

body {
  background: var(--pageBg);
  font-family: 'Inter', sans-serif;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}
