:root {
  --fonts-heading: 'M PLUS Rounded 1c', sans-serif;
  --fonts-text: 'M PLUS Rounded 1c', sans-serif;
  --header-text: #fff;
  --black: #171718;
  --white: #fff;

  /* Light mode */
  --pageBg: #fff;
  --text-color: #171718;
  --navBar-bg: #ffffff40;
  --navigation-bg: #fff;
  --navigation-bg-hover: #e2e8f0;
  --border-color-menu_btn: #e2e8f0;
  --bg-menu_btn: #e2e8f0;
}

/* Dark mode */
[data-theme='dark'] {
  --pageBg: #26292d;
  --text-color: #fff;
  --navBar-bg: #202023;
  --navigation-bg: #2d3748;
  --navigation-bg-hover: #3d4756;
  --border-color-menu_btn: rgba(255, 255, 255, 0.16);
  --bg-menu_btn: #434347;
}
