@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.themeBtn {
  @include flex;
  @include transition;
  cursor: pointer;

  width: 45px;
  height: 45px;
  border-radius: 6px;
  padding: 5px;

  background: var(--theme-btn-bg);
  
  &:hover {
    background: var(--theme-btn-bg-hover);
  }
}

.moon {
  color: white;
  width: 20px;
}

.sun {
  color: black;
  width: 18px;
}
