@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.navList {
  max-width: 100%;
  padding-left: 25px;
  flex: 1;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);

  @media (max-width: 768px) {
    opacity: 0;
    visibility: hidden;
    scale: (0);
    width: 0;
  }
}

.listItem {
  @include flex;
  gap: 3px;
  position: relative;
  border-radius: 4px;
  padding: 10px;
  font-family: Inter;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;

  &_active {
    background: var(--active-link);
  }

  &::before {
    content: '';
    position: absolute;
    left: 5px;
    bottom: 5px;
    height: 2px;
    width: 0;
    border-radius: 4px;
    background: var(--text-color);
    @include transition;
  }

  &:hover::before {
    width: 90%;
  }
}

/// Mobile
.navList_mobile {
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  width: 200px;
  border-radius: 6px;
  background: var(--navigation-bg);
  color: var(--text-color);
  position: absolute;
  right: 0;
  bottom: -185px;
}

.listItem_mobile {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px 15px;

  font-family: Inter;
  font-style: normal;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;

  &_active {
    background: var(--navigation-bg-hover);
  }
  &:hover {
    background: var(--navigation-bg-hover);
  }
}
