@import '../../styles/mixins.scss';
@import '../../styles/var.scss';

.wrapper {
  padding: 30px 0 0 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.breadСrumbs {
  font-family: var(--fonts-text);
  font-size: 15px;
  font-weight: 500;
  color: var(--color-lick) !important;

  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-skip-ink: auto;
  }
}

.nameProject {
  @include flex;
  font-family: var(-fonts-heading);
  color: var(--text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  .arrow {
    width: 11px;
    height: 13px;
    margin-right: 5px;
  }
}

.year {
  padding: 3px 8px;
  border-radius: 4px;
  background: var(--scills-bg-color);
  color: var(--text-color);
  font-family: var(--fonts-text);
  font-size: 13px;
  font-weight: 600;
}

.description {
  padding: 5px 10px;
  font-family: var(--fonts-text);
  color: var(--text-color);
  font-size: 15px;
  font-weight: 500;
  word-spacing: 3px;
  text-indent: 1em;
  line-height: 21px;

  @media(max-width: 440px) {
    font-size: 12px;
  }
}

.linksList {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  font-family: var(--fonts-text);
  font-size: 15px;
  font-weight: 500;
  color: var(--text-color);

  @media(max-width: 440px) {
    font-size: 10px;
  }

  .links {
    display: flex;
    gap: 8px;

    @media(max-width: 440px) {
      gap: 3px;
    }

    .pointer {
      padding: 3px 8px;
      border-radius: 4px;
      background: var(--pointer-bg);
      color: var(--pointer-text);
      font-family: var(--fonts-text);
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 600;

      @media(max-width: 440px) {
        font-size: 8px;
      }
    }

    a {
      color: var(--color-lick) !important;
      display: flex;
      align-items: center;
      gap: 5px;

      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 2px;
        text-decoration-skip-ink: auto;
      }
    }
  }
}

.imgProject {
  margin-top: 15px;
  width: 100%;
  height: 130px;
  border-radius: 15px;
  height: 250px;
  overflow: hidden;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.25);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
